h1 {margin-left: 400px;}

.qa {color:  darkslategray;
  margin-left: 450px;}

.photo {margin-left: 420px;}

summary { margin-left: 390px;
  font-size: 30px;
color:  darkslategray;
}

.spisok {margin-left: 410px;
font-size: 30px;}

a { font-size: 22px;
  display: block;
  position: relative;
  margin-bottom: 10px;
  background:  bisque;
  border-radius: 10px;
  text-align: center;
  width: 30%;}


html {

background-image: url(fon.jpg);

background-repeat: no-repeat;

background-position: center center;

background-attachment: fixed;

background-size: cover;

background-size: cover;

background-size: cover;

background-size: cover;

}



button {margin-left: 430px;
font-size: 20px; 
font-family: fantasy;
  width: 200px;
  height: 50px;
background-color: dimgray
}
button:hover {
  border: 3px solid gray;
}

summary:hover {
  border: 3px solid gray;
  width: 300px;
}








body {
  font-family: Roboto, sans-serif;
}

.container {
  padding: 0 40px;
  margin-left: 80px;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 2em;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:lightseagreen;
  text-decoration:underline;
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 100px;
  /* Радиус скругления */
  border: 1px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 50px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid chartreuse;
}





